<body style="background-color: #999999;">

  <div class="limiter">
    <div class="container-login100">
      <div class="login100-more" style="background-image: url('assets/login-person.png');"></div>
      <div class=" wrap-login100 ">
        <form class="login100-form validate-form" [formGroup]="signUpForm">
          <span class="container-login100-form-btn mt-0">
            <h3>SIGN UP</h3>
          </span>

          <div class="wrap-input100 mt-3">
            <mat-radio-group formControlName="userType">
              <mat-radio-button class="radio-btn mx-auto" value="learner">Learner</mat-radio-button>
              <mat-radio-button class="radio-btn ml-3" value="educator">Educator</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="wrap-input100" style="padding-top: 12px">
            <mat-radio-group formControlName="accountType" (change)="accountTypeValue()">
              <mat-radio-button class="radio-btn mx-auto" value="single">Single &nbsp;</mat-radio-button>
              <mat-radio-button class="radio-btn ml-3" value="group">Group</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="wrap-input100 mt-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="firstname" type="text" [placeholder]="namePlaceHolder.firstname">
              <i matSuffix class="fa fa-user" aria-hidden="true"></i>
              <mat-error *ngIf="signUpForm.controls.firstname.invalid">{{namePlaceHolder.firstname}} is required!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="wrap-input100 mt-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="lastname" type="text" [placeholder]="namePlaceHolder.lastname">
              <i matSuffix class="fa fa-user" aria-hidden="true"></i>
              <mat-error *ngIf="signUpForm.controls.lastname.invalid">{{namePlaceHolder.lastname}} is required!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="wrap-input100 mt-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="email" type="text" placeholder="Email *">
              <i matSuffix class="fa fa-envelope" aria-hidden="true"></i>
              <mat-error *ngIf="signUpForm.controls.email.hasError('required')">Email is required!
              </mat-error>
              <mat-error
                *ngIf="!signUpForm.controls.email.hasError('required') && signUpForm.controls.email.invalid">
                Enter
                valid email in abc@xyz.com format!</mat-error>
            </mat-form-field>
          </div>

          <div class="wrap-input100 mt-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Password *"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#$@$!%*?&])[A-Za-z0-9\d$@#$!%*?&].{5,}">
              <mat-hint *ngIf="isPasswordValid()" style="color: green;">Strong Password</mat-hint>
              <mat-icon matSuffix style="cursor: pointer" (click)="hide = !hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="signUpForm.controls.password.hasError('required')">Password is required!
              </mat-error>
              <mat-error *ngIf="signUpForm.controls.password.hasError('pattern') && !isPasswordValid()">
                {{passwordError}}</mat-error>
            </mat-form-field>
          </div>

          <div class="wrap-input100 mt-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="rePassword" [type]="reHide ? 'password' : 'text'"
                placeholder="Password *">
              <mat-icon matSuffix style="cursor: pointer" (click)="reHide = !reHide">
                {{reHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="signUpForm.value.password && !signUpForm.controls.rePassword.hasError('match')"
                style="color: green;">Password
                matched</mat-hint>
              <mat-error *ngIf="signUpForm.controls.rePassword.hasError('required')">Confirm password is
                required!
              </mat-error>
              <mat-error
                *ngIf="!signUpForm.controls.rePassword.hasError('required') && signUpForm.controls.rePassword.hasError('match')">
                Confirm password mus be same as password!</mat-error>
            </mat-form-field>
          </div>

          <div class="wrap-input100 mt-2 text-center">
            <mat-checkbox (change)="validateCheckBox($event)"><span class="txt1">
                I agree to the
                <a class="txt2 hov1">
                  Terms of User
                </a>
              </span></mat-checkbox>
          </div>

          <div class="wrap-input100 mt-3">
            <button class="w-100" mat-raised-button color="accent" (click)="onSubmit()"
              [disabled]="signUpForm.invalid || !signUpForm.value.terms || loading">
              <span *ngIf="!loading">Sign Up</span>
              <img *ngIf="loading" src="../../../assets/loader.gif">
            </button>
          </div>

          <div class="text-center p-t-136 container-login100-form-btn">
            <a class="txt2" routerLink="/login">
              Already have account?Sign in
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>