<div class="jumbotron w-100">
  <h1 class="display-4">Knowledge Circuit</h1>
  <p class="lead">
    At this Collaborative platform learner get improved self-confidence and addressed simultaneously the physical, emotional, relational, intellectual and spiritual aspects of their life and develop or learn different
    things correctly at different stages of life.</p>
  <hr class="my-4">
  <p>Here we can Inspire and Motivate Youth by direct experts, and make this an Assistance for overall development of learners.</p>
  <a class="btn btn-primary btn-lg" role="button" (click)="goToAboutUs();">Learn more</a>
</div>

<div class="row mx-auto p-2 m-2">
  <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3 mb-4">
    <h2>Learner</h2>
    <img alt="Learner" class="card-img-top" src="../../../assets/slides/homepage-learner.jpg" style="width: 100%;">
    <button type="button" class="mt-2 mb-2 w-100 btn btn-primary">Let's start to learn</button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3 mb-4">
    <h2>Educator</h2>
    <img alt="Learner" class="card-img-top" src="../../../assets/slides/homepage-educator.jpg">
    <button type="button" class="mt-2 mb-2 w-100 btn btn-primary">Let's start to educate</button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3 mb-4">
    <h2>Notice</h2>
    <marquee clss="notice-div" direction="up" scrolldelay="250">
      <p>There are Experienced Successor in every/desired field of learners, they can show the path of success and share the good and bad aspects of something which they tackled and can help learners to plan/prepare better, 
        but no connection available between these Successor &learners.</p>
      <p>
          Wouldn't it be great if all Learners could connect to the Successor/Educators for essential guidance right at their place conveniently, 
          this is what we are attempting to bridge.
      </p>
      <p>
          A pathway to transmitting knowledge, where Educator & leaners join for of knowledge transmitting and inspire each other for better humanity.
      </p>
    </marquee>
  </div>
</div>

<div class="row mx-auto p-2 m-2">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-4">

    <div style="display:block;" [style.width]="width">
      <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [showArrows]="showArrows"
        [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [backgroundSize]="backgroundSize"
        [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
        [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
        [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
        [fullscreen]="fullscreen">
      </slideshow>
    </div>
    <div class="mt-5" style="display:block;" [style.width]="width">
      <slideshow #slideshow [imageUrls]="imageUrls1" [height]="height" [minHeight]="minHeight" [showArrows]="showArrows"
        [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [backgroundSize]="backgroundSize"
        [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
        [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
        [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
        [fullscreen]="fullscreen">
      </slideshow>
    </div>
  </div>
</div>