.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.notice-div {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
