<mat-toolbar color="primary">
  <span class="mx-auto" style="font-size:22px;">Add Education</span>
  <button mat-icon-button class="float-right" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="addEducationForm" (ngSubmit)="onSubmit()">
  <div class="form-group row mt-3 ">
    <table align="center">
      <tr>
        <td>
          <b>School/University</b></td>
        <td>
          <input type="text" class="form-control" formControlName="school"
            [ngClass]="{ 'is-invalid':  f.school.touched && f.school.errors }" minlength="3" maxlength="50" [pattern]="'^[a-zA-Z\s\.]+$'" required>
          <div *ngIf="f.school.errors" class="invalid-feedback">
            <div *ngIf="f.school.errors.required">School is required</div>
            <div *ngIf="f.school.errors.pattern">Enter valid School or University name.</div>
            <div *ngIf="f.school.errors.minlength">School name is too short</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <b>Degree</b></td>
        <td>
          <input type="text" class="form-control " formControlName="degree"
            [ngClass]="{ 'is-invalid':  f.degree.touched && f.degree.errors }" minlength="3" maxlength="50" [pattern]="'^[a-zA-Z\s\.]+$'" required>
          <div *ngIf="f.degree.errors" class="invalid-feedback">
            <div *ngIf="f.degree.errors.required">Degree is required</div>
            <div *ngIf="f.degree.errors.pattern || f.degree.errors.maxlength ">Enter vaild Degree name</div>
            <div *ngIf="f.degree.errors.minlength">Degree is too short</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <b>Field of Study</b></td>
        <td>
          <input type="text" class="form-control " formControlName="study"
            [ngClass]="{ 'is-invalid':  f.study.touched && f.study.errors }" minlength="3" maxlength="50" [pattern]="'^[a-z]+$'" required>
          <div *ngIf="f.study.errors" class="invalid-feedback">
            <div *ngIf="f.study.errors.required">Study field is required</div>
            <div *ngIf="f.study.errors.pattern || f.study.errors.minlength || f.study.errors.maxlength ">Enter vaild Study Field</div>
          </div>
        </td>
      </tr>
      <tr>
        <td> <b>Start Year</b></td>
        <td>
          <select class="form-control" formControlName="syear"
            [ngClass]="{ 'is-invalid':  f.syear.touched && f.syear.errors }">
            <option value="" disabled selected>Select year</option>
            <option *ngFor="let y of range ">{{y}}</option>
          </select>
          <div *ngIf="f.syear.errors" class="invalid-feedback">
            <div *ngIf="f.syear.errors.required">Start year required</div>
          </div>
        </td>
      </tr>
      <tr>
        <td> <b>End Year</b></td>
        <td>
          <select class="form-control" (change)="compareTwoDates()" formControlName="eyear"
            [ngClass]="{ 'is-invalid':  f.eyear.touched && (f.eyear.errors || yearErr) }">
            <option value="" disabled selected>Select year</option>
            <option *ngFor="let y of range ">{{y}}</option>
          </select>
          <div *ngIf="f.eyear.errors" class="invalid-feedback">
            <div *ngIf="f.eyear.errors.required">End year is required</div>
          </div>
          <div *ngIf="yearErr">End year can not be less than start year!</div>
        </td>
      </tr>
      <tr>
        <td>
          <b>CGPA</b></td>
        <td>
          <input type="number" class="form-control " formControlName="grade"
            [ngClass]="{ 'is-invalid':  f.grade.touched && f.grade.errors}" max="10" pattern="^(10|[1-9])(\.[1-9]{1})?$" required>
          <div *ngIf="f.grade.errors" class="invalid-feedback">
            <div *ngIf="f.grade.errors.required">Grade is required</div>
            <div *ngIf="f.grade.errors.pattern || f.grade.errors.max ">Enter a valid Grade</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <b>Other Activities</b></td>
        <td>
          <textarea type="text" class="form-control " formControlName="act"
            [ngClass]="{ 'is-invalid':  f.act.touched && f.act.errors }"></textarea>
          <div *ngIf="f.grade.errors" class="invalid-feedback">
            <div *ngIf="f.grade.errors.required">Other Activities required</div>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <div align="center" class="form-group">
    <button mat-raised-button color="primary" [disabled]="addEducationForm.invalid  || loading || yearErr">
      <span *ngIf="!loading">SAVE</span>
      <img *ngIf="loading" src="../../../assets/loader.gif">
    </button>

  </div>
</form>