<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <!-- <span class="contact100-form-title">
          Send Us A Message
        </span> -->

      <label class="label-input100" for="first-name">Tell us your name *</label>
      <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
        <input type="text" class="form-control input100" id="fname" placeholder="First name">
        <span class="focus-input100"></span>
      </div>

      <div class="form-group wrap-input100 rs1-wrap-input100 validate-input">
        <input type="text" class="form-control input100" id="lname" placeholder="Last name">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email">Enter your email *</label>
      <div class="form-group wrap-input100 validate-input">
        <input id="email" class="form-control input100" type="text" name="email" placeholder="Eg. example@email.com">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone">Enter phone number</label>
      <div class=" form-group wrap-input100">
        <input id="phone" class="form-control input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
        <span class="focus-input100"></span>
      </div>
      <div class="form-group mt-2">
        <label for="sel1">Select Query</label>
        <select class="form-control" id="sel1">
          <option>General Query</option>
          <option>Technical Query</option>
          <option>Service Related query</option>
          <option>Complaint Feedback</option>
          <option>Others</option>
        </select>
      </div>

      <label class="label-input100" for="message">Message *</label>
      <div class="form-group wrap-input100">
        <textarea id="message" class="form-control input100" name="message" placeholder="Write us a message"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="form-group container-contact100-form-btn">
        <button class=" form-control contact100-form-btn">
          Send Message
        </button>
      </div>
    </form>

    <div align="center" class="contact100-more flex-col-c-m" style=" background-image: url('assets/book.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2 mt-3">
          <span class="txt1 p-b-20">
            <h1>Contact Us</h1>
          </span>

          <span class="txt2 mt-4">
            Whether you have questions, need help or simply have a great idea you'd like to share, use the form and
            we'll get right back to you!
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2 mt-3 ">
          <span class="txt1 p-b-20">
            Lets Talk
          </span>

          <span class="txt3 ">
            +91 0000000000
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2  mt-3">
          <span class="txt1 p-b-20">
            General Support
          </span>

          <span class="txt3">
            kcircuit121@gmail.com
          </span>
        </div>
      </div>
    </div>
  </div>
</div>