<!-- Header -->
<header id="header">
	<div class="logo"><a>Knowledge Circuit</a></div>
</header>

<!-- Main -->
<section id="main">
	<div class="inner">

		<!-- One -->
		<section id="one" class="wrapper style1">

			<div class="image fit flush">
				<img src="assets/pic02.jpg" alt="" />
			</div>
			<header class="special">
				<p style="color: black">What All get</p>
			</header>
			<div class="content">
				<p> At this Collaborative platform learner get improved self-confidence and addressed simultaneously the
					physical, emotional, relational, intellectual and spiritual aspects of their life and develop or learn
					different things correctly at different stages of life and get thethe confidence to achieve beyond the
					classroom
					And for Educator, Making a difference in the life of a learner in a meaningful way, it's giving back to
					society and rewarding with social score and status with a great addition to resume.
				</p>
				<p>Here we can Inspire and Motivate Youth by direct experts, and make this an assistance for overall development
					of learners.It could be a Supplement to Education system to enhance the academic achievement and nurtures the
					personal growth of leaners by providing them with focused, individualized support to develop the skills,
					self-confidence and motivation to recognize and achieve their full potential.</p>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style2">
			<header>
				<h2>An Innovative</h2>
				<p>Journey with Knowledge circuit</p>
			</header>
			<div class="content">
				<div class="gallery">
					<div>
						<div class="image fit flush">
							<a><img src="assets/pic03.jpg" alt="" /></a>
						</div>
					</div>
					<div>
						<div class="image fit flush">
							<a><img src="assets/pic01.jpg" alt="" /></a>
						</div>
					</div>
					<div>
						<div class="image fit flush">
							<a><img src="assets/pic04.jpg" alt="" /></a>
						</div>
					</div>
					<div>
						<div class="image fit flush">
							<a><img src="assets/pic005.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper">
			<div class="spotlight">
				<div class="image flush"><img src="assets/pic06.jpg" alt="" /></div>
				<div class="inner">
					<h3>What we are Trying</h3>
					<p>There are Experienced Successor in every/desired field of learners, they can show the path of success and
						share the good and bad aspects of something which they tackled and can help learners to plan/prepare better,
						but no connection available between these Successor &learners. Wouldn't it be great if all Learners could
						connect to the Successor/Educators for essential guidance right at their place conveniently, this is what we
						are attempting to bridge.</p>
					<p>KnowledgeCircuit- A pathway to transmitting knowledge, where Educator & leaners join for of knowledge
						transmitting and inspire each other for better humanity.</p>
				</div>
			</div>
			<div class="spotlight alt">
				<div class="image flush"><img src="assets/pic07.jpg" alt="" /></div>
				<div class="inner">
					<h3>Why we should join this</h3>
					<p>The ability to pass knowledge on from one individual to another even across generations -- that makes us
						unique among planet species.</p>
					<p>Presently knowledge is available through hundreds of sources however we feel that they arebroadcasting
						information on us to make us act in a way they prefer and So we getting huge number of
						information/messages/knowledge every time.</p>
					<p>Now there is huge difference in knowledge or appropriate knowledge and again searching for the same on
						these hundreds sources is huge time consuming or probably we end with inappropriate knowledge.
						So an Experienced Successor/Educator can help here to show the path or land to Learner to appropriate
						knowledge.
					</p>
				</div>
			</div>
			<div class="spotlight">
				<div class="image flush"><img src="assets/pic08.jpg" alt="" /></div>
				<div class="inner">
					<h3>An example</h3>
					<p>Suppose Learner L1have educated guardians, They are aware about promising field in the future and they push
						L1 towards it from a young age, they help them to select the right courses, guide them to get into the
						correct competitions and perhaps even get him/her an internship in the desire field which help them to
						success in life.</p>
					<p>In contrast Learner L2have uneducated/or very less knowledgeableguardians, Not knowing where to push their
						youngsters & they let him free float his way to finding something suitable. By the time L2 starts to makes a
						decision about what field he wants to get into, he is miles behind. </p>
					<p>Maximum learner are in L2 category and so we want to appeal all educators come together and support these
						learners to become more confident, more knowledgeable, and more successful.</p>
				</div>
			</div>
		</section>

	</div>
</section>