<mat-tab-group mat-stretch-tabs>
  <mat-tab [label]="label">

    <mat-form-field class="w-100 mt-2 mb-2">
      <input type="text" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="mat-elevation-z1 mb-4 pb-2 pt-2" style="height: 30px;">
      <div class="float-left"> 1304 search results</div>
      <div class="float-right">
        <button mat-icon-button style="margin-top:-25px" [matMenuTriggerFor]="sort">
          <mat-icon style="cursor:pointer;">swap_vert</mat-icon>
        </button>
        <mat-menu #sort="matMenu" xPosition="after">
          <button mat-menu-item>A-Z</button>
          <button mat-menu-item>Z-A</button>
        </mat-menu>
      </div>
    </div>

    <mat-card class="text-center p-1 w-100">
      <mat-card-content>
        <button class="col-lg-2 col-md-2 col-sm-12 col-12 filter" mat-button [matMenuTriggerFor]="menu">Availability</button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button class="col-lg-2 col-md-2 col-sm-12 col-12 filter" mat-button [matMenuTriggerFor]="menu1">Connectivity</button>
        <mat-menu #menu1="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button class="col-lg-2 col-md-2 col-sm-12 col-12 filter" mat-button [matMenuTriggerFor]="menu2">{{label}}
          type</button>
        <mat-menu #menu2="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button class="col-lg-2 col-md-2 col-sm-12 col-12 filter" mat-button [matMenuTriggerFor]="menu3">Language</button>
        <mat-menu #menu3="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button class="col-lg-2 col-md-2 col-sm-12 col-12 filter" mat-button [matMenuTriggerFor]="menu4">All filters</button>
        <mat-menu #menu4="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>

    <mat-divider class="mt-2"></mat-divider>

    <mat-card style="min-width:300px;">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 m-2 profile-img">
            <img  src="https://via.placeholder.com/125x125?text=125x125+Square+Button" alt='logo'
              style="width:120px; height:120px;" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 m-2">
            <div class="p-2 row"><h6><strong> Brdget H. </strong></h6></div>
            <div class="p-2 row">
              English teacher. Certified TEFL teacher with 12 years experience
              Hello! My name is Bridget and I´m an American living in Spain. I have experience teaching Cambridge,
              Trinity, as well as the TOEFL exams.
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 m-2 actions">
            <div class="row m-2 w-100">
              <button class="w-100" mat-raised-button color="primary">Primary</button>
            </div>
            <div class="row m-2 w-100">
              <button class="w-100" mat-raised-button color="primary">Primary</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-tab>

  <mat-tab label="Questions">
    <app-question-screen></app-question-screen>
  </mat-tab>
  <mat-tab label="Announcement"> Announcement </mat-tab>
  <mat-tab label="Favourite"> Favourite </mat-tab>
</mat-tab-group>
