<div class="container mt-4 mb-2">
  <div class="mat-elevation-z4"></div>
  <mat-card class="ml-0 mr-0">
    <mat-card-content class="ml-0 mr-0">
      <div class="row">

        <div class="m-1 col-lg-2 col-md-2 col-sm-12 col-12 text-center">
          <img style="height: 80%;" src="https://via.placeholder.com/125x125?text=125x125+Square+Button" alt='logo'>
        </div>

        <div class="m-1 col-lg-3 col-md-3 col-sm-12 col-12 text-center">
          <figure>
            <img src="https://via.placeholder.com/125x125?text=125x125+Square+Button" alt='logo'>
            <figcaption class="mt-1 mx-auto text-center" style="width: 125px;">
              <mat-progress-bar mode="determinate" [value]="profile_completed"></mat-progress-bar>
              <span>Your profile is {{profile_completed}}% completed.</span>
            </figcaption>
          </figure>
        </div>

        <div class="m-1 col-lg-3 col-md-3 col-sm-12 col-12 text-center">
          <circle-progress percent="85" subtitle="85%"></circle-progress>
        </div>

        <div class="m-1 col-lg-3 col-md-3 col-sm-12 col-12" align="center">
          <div class="m-1 row justify-content-start">
            <star-rating class="float-left" [readOnly]="true" labelText="1566" labelPosition="right" [starType]="'svg'"
              rating="5">
            </star-rating>
          </div>

          <div class="m-1 row justify-content-start">
            <star-rating class="float-left" [readOnly]="true" labelText="5996" labelPosition="right" [starType]="'svg'"
              rating="4">
            </star-rating>
          </div>

          <div class="m-1 row justify-content-start">
            <star-rating class="float-left" [readOnly]="true" labelText="2055" labelPosition="right" [starType]="'svg'"
              rating="3">
            </star-rating>
          </div>

          <div class="m-1 row justify-content-start">
            <star-rating class="float-left" [readOnly]="true" labelText="587" labelPosition="right" [starType]="'svg'"
              rating="2">
            </star-rating>
          </div>

          <div class="m-1 row justify-content-start">
            <star-rating class="float-left" [readOnly]="true" labelText="945" labelPosition="right" [starType]="'svg'"
              rating="1">
            </star-rating>
          </div>

        </div>

      </div>

    </mat-card-content>
  </mat-card>
</div>

<div class="mb-5" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>