@import '../styles-variables';

:host {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .wrapper {
    z-index: -2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;

    .toolbar {
      position: fixed;
      width: 100%;
      z-index: 999;
      flex: 0 0 auto;

      .nav-button {
        margin: 0 10px 0 0;
      }

      .branding {
        cursor: pointer;
        padding-top: 4px;

        &.center {
          text-align: center;
        }

        img {
          position: relative;
          top: -2px;
        }
      }

      .sign-in-button, .sign-up-button {
        float: right;
        line-height: 35px;
        margin-right: 10px;
      }

      .spacer {
        flex: 1 1 auto;
      }

      @media (max-width: map-get($grid-breakpoints, lg)) {
        .nav-button {
          min-width: 0;
          padding: 0 10px;
        }
        .sign-in-button, .sign-up-button {
          float: right;
          min-width: 0;
          padding: 0 10px;
          margin: 0 5px 0 0;
        }
      }
    }

    .content {
      padding-top: 64px;
      flex: 1 0 auto;
      position: relative;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .content {
        padding-top: 56px;
      }
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
      z-index: 1;

      .row {
        padding: 10px 0;

        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;

            &:hover {
              text-decoration: none;
            }

            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 5px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }

          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;

              span {
                width: 0;
                padding: 0;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {
          .signature {
            position: relative;

            a {
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      margin: 0 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}
