<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo" /> <span>Knowledge Circuit</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
        routerLinkActive="active">
        <mat-icon class="mr-3 ml-0">{{item.icon}}</mat-icon>{{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button  (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="branding spacer d-inline d-sm-none" (click)="takeToHomePage();"><img [src]="logo" /> </span>
        <span class="branding spacer d-none d-sm-inline d-md-none" (click)="takeToHomePage();"><img [src]="logo" /> {{appName}}</span>
        <span class="branding spacer d-none d-md-inline" (click)="takeToHomePage();"><img [src]="logo" /> {{appName}}</span>

        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
            routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <div class="row justify-content-end w-100">
          <button mat-button class="sign-in-button mr-3 " *ngIf="!isAuthenticated" (click)="onLoginClick()">
            Sign in
          </button>
          <button mat-button class="sign-up-button mr-3 " *ngIf="!isAuthenticated" (click)="onRegisterClick()">
            Sign up
          </button>
        </div>

        <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onProfileClick()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>

    <div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div *ngIf="!isAuthenticated" class="row">
        <div class="col-sm-12 links">
          <a href="https://www.github.com/" target="_blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <span>Facebook</span>
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
          <a href="https://www.youtube.com/" target="_blank">
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            <span>Youtube</span>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">{{year}}</span> - Knowledge Circuit <br class="d-block d-sm-none">
        </div>
        <div *ngIf="!isAuthenticated" class="col-12 signature">
          <span style="font-size: 10px" class="year">v{{version}}</span><br class="d-block d-sm-none">
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
