<mat-toolbar class="mat-elevation-z1" style="z-index: -2;">
  <button mat-icon-button (click)="backClicked()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="mx-auto">User Profile</span>
</mat-toolbar>

<div class="container">
  <mat-card class="mx-auto m-4" style="max-width: 900px">
    <mat-card-content>
      <div>
        <div class="row float-right mr-1">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="settings.isAccountType=true;">
              <span>Set Account Type</span>
            </button>
            <button mat-menu-item (click)="settings.isPassword=true;">
              <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="settings.isDeleteUser=true;">
              <span>Delete Account</span>
            </button>
          </mat-menu>
        </div>
        <br>

        <div class="row m-0 mb-4 mx-auto col-12">
          <img src="../../../assets/intro.jpg" class="mx-auto  profile-img">
        </div>

        <mat-tab-group dynamicHeight mat-stretch-tabs>
          <!-- Personal Details -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-2">person</mat-icon>
              <span class="d-none d-sm-block"> Personal </span>
            </ng-template>

            <div>
              <form [formGroup]="personalForm" class="mx-auto" (ngSubmit)="onSubmit();">
                <!-- Name -->
                <div class="row p-1 mt-4">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Name *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="name" autocomplete="off">
                      <mat-error *ngIf="personalForm.controls.name.hasError('required')">Name is required!</mat-error>
                      <mat-error *ngIf="personalForm.controls.name.hasError('maxlength')">Name can be at most 60
                        characters long.</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Email -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Email *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="user_name" autocomplete="off">
                      <mat-error *ngIf="personalForm.controls.user_name.hasError('required')">Email is required!
                      </mat-error>
                      <mat-error *ngIf="personalForm.controls.user_name.hasError('invalidEmail')">Please enter valid
                        email.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Contact No. -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Mobile No. *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="mobile_no" autocomplete="off">
                      <mat-error *ngIf="personalForm.controls.mobile_no.hasError('required')">Name is required!
                      </mat-error>
                      <mat-error *ngIf="personalForm.controls.mobile_no.hasError('pattern')">Please enter valid name.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Phone No. -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Phone No. *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="phone_no" autocomplete="off">
                      <mat-error *ngIf="personalForm.controls.phone_no.hasError('required')">Name is required!
                      </mat-error>
                      <mat-error *ngIf="personalForm.controls.phone_no.hasError('pattern')">Please enter valid name.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Gender -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Gender *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <mat-select formControlName="gender">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                      </mat-select>
                      <mat-error *ngIf="personalForm.controls.gender.hasError('required')">Name is required!</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- DOB -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Date of birth *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="dob" autocomplete="off" [max]="max" [owlDateTime]="dt1"
                        [owlDateTimeTrigger]="dt1">
                      <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #dt1></owl-date-time>
                      <mat-error *ngIf="personalForm.controls.dob.hasError('required')">Date of Birth is required!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Country -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Country *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="country" autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>

                <!-- PinCode -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">Pincode *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input formControlName="pincode" matInput autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>

                <!-- State -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">State *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="state" autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>

                <!-- City -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">City *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="city" autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>

                <!-- House No. -->
                <div class="row p-1 mt-1">
                  <div class="col-sm-6 col-md-5 col-lg-5">
                    <b class="float-sm-right pr-3">House No./Street *</b>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-5" style="margin-top: -15px">
                    <mat-form-field class="w-100">
                      <input matInput formControlName="house_no" autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row p-1 mt-1">
                  <button mat-raised-button class="mx-auto" color="accent">Save</button>
                </div>
              </form>
            </div>

          </mat-tab>

          <!-- Knowledge Area -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-2">school</mat-icon>
              <span class="d-none d-sm-block"> Knowledge Area </span>
            </ng-template>
            <div>
              <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit();">
                <!-- Education -->
                <div class="p-lg-2 p-md-2 p-sm-0">
                  <mat-list>
                    <h4 mat-header>
                      <strong>Education</strong>
                      <mat-icon class="add-icon float-right" (click)="openAddEducationDailog()">add</mat-icon>
                    </h4>
                    <div *ngIf="userProfile?.knowledge?.education.length > 0">
                      <mat-list-item *ngFor="let item of userProfile?.knowledge?.education">
                        <mat-icon mat-list-icon>account_balance</mat-icon>
                        <h4 mat-line>{{item.school_university}}</h4>
                        <p mat-line> {{item.degree}}, {{item.field_of_study}} </p>
                        <p mat-line> {{item.from_year}} - {{item.to_year}} </p>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </div>
                  </mat-list>
                </div>

                <!-- Goals -->
                <div class="p-lg-2 p-md-2 p-sm-0">
                  <h4 mat-header class="mt-1">
                    <strong>Goal</strong>
                    <mat-icon *ngIf="!isEdit" class="add-icon float-right" (click)="isEdit = !isEdit">edit</mat-icon>
                    <mat-icon *ngIf="isEdit" class="add-icon float-right" (click)="isEdit = !isEdit">done</mat-icon>
                  </h4>
                  <div *ngIf="userProfile?.knowledge?.goal && !isEdit">
                    <p style="word-break: break-all"> {{userProfile?.knowledge?.goal}}</p>
                    <mat-divider></mat-divider>
                  </div>
                  <div *ngIf="userProfile?.knowledge?.goal.length > 0 && isEdit">
                    <mat-form-field class="w-100">
                      <textarea matInput formControlName="goal"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Interests -->
                <div class="p-lg-2 p-md-2 p-sm-0">
                  <h4 mat-header>
                    <strong>Interest</strong>
                  </h4>
                  <table mat-table [dataSource]="interestDataSource">
                    <!-- CheckBox -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null;" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <!-- Interest -->
                    <ng-container matColumnDef="interest">
                      <th mat-header-cell *matHeaderCellDef> Interest </th>
                      <td mat-cell *matCellDef="let element"> {{element.interest}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="interestDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: interestDisplayedColumns;"
                      (click)="selection.toggle(row)">
                    </tr>
                  </table>

                </div>
                <div class="row p-1 mt-1">
                  <button mat-raised-button class="mx-auto" color="accent">Save</button>
                </div>
              </form>
            </div>
          </mat-tab>

          <!-- Resources -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-2">phonelink</mat-icon>
              <span class="d-none d-sm-block"> Resources </span>
            </ng-template>

            <!-- Resources -->
            <h4 mat-header class="mt-1">
              <strong>Resources</strong>
            </h4>
            <mat-form-field class="search-input">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="resourceName">
                <th class="headerCell" mat-header-cell *matHeaderCellDef>Resources</th>
                <td style="width: 175px;" mat-cell *matCellDef="let row">{{row.resourceName}}</td>
              </ng-container>

              <ng-container matColumnDef="permanent">
                <th class="headerCell" mat-header-cell *matHeaderCellDef>Permanent</th>
                <td class="radioButtonCell" mat-cell *matCellDef="let row">
                  <mat-radio-button (change)="setResourceData(row, 'permanent')" [name]="row.resourceName"
                    value="permanent" [checked]="row.duration === 'permanent'"></mat-radio-button>
                </td>
              </ng-container>

              <ng-container matColumnDef="temporary">
                <th class="headerCell" mat-header-cell *matHeaderCellDef>Temporary</th>
                <td class="radioButtonCell" mat-cell *matCellDef="let row">
                  <mat-radio-button (change)="setResourceData(row, 'temporary')" [name]="row.resourceName"
                    value="temporary" [checked]="row.duration === 'temporary'"></mat-radio-button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="text-center">
              <mat-form-field *ngIf="isAdd" class="w-100">
                <input [(ngModel)]="newResource.resourceName" matInput>
              </mat-form-field>
              <mat-radio-group *ngIf="isAdd" class="duration-radio-group" [(ngModel)]="newResource.duration">
                <mat-radio-button class="m-2" *ngFor="let duration of durations" [value]="duration.value">
                  {{duration.viewValue}}
                </mat-radio-button>
              </mat-radio-group><br>
              <button mat-button class="mt-1" *ngIf="!isAdd" (click)="isAdd =!isAdd" color="accent">Add</button>
              <button mat-button *ngIf="isAdd" (click)="isAdd =!isAdd" color="accent">Cancel</button>
              <button mat-button *ngIf="isAdd" (click)="addRow()" color="accent"
                [disabled]="newResource.resourceName.length === 0 || newResource.duration.length === 0">
                Save</button>
            </div>
            <mat-divider></mat-divider>

            <!-- Communication -->
            <h4 mat-header class="mt-1">
              <strong>Communication</strong>
            </h4>

            <table mat-table [dataSource]="socialSource">
              <ng-container matColumnDef="plateForm">
                <th class="headerCell" mat-header-cell *matHeaderCellDef>Plateform</th>
                <td style="width: 175px;" mat-cell *matCellDef="let row">{{row.plateForm}}</td>
              </ng-container>

              <ng-container matColumnDef="userName">
                <th class="headerCell" mat-header-cell *matHeaderCellDef>UserName</th>
                <td class="radioButtonCell" mat-cell *matCellDef="let row">
                  <mat-form-field class="w-100">
                    <input matInput>
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="socialDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: socialDisplayedColumns;"></tr>
            </table>
            <!-- </div> -->
            <mat-divider></mat-divider>
          </mat-tab>

        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>