@import '../../../styles-variables.scss';

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
mat-card {
	margin: 50px 0 20px 0;
	max-width: 100%;
}

mat-input{
  margin-left: 4px;
  padding-left: 2px;
}

.text-overflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip;
}

.word-wrap {
  word-wrap: break-word;
}

.text-overflow {
  overflow-wrap: break-word;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.add-icon {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.carousel {
  background: #EEE;
  position: relative;
  overflow: hidden !important;
  padding-right: 10px !important;
}

.mat-card {
  position: sticky;
  position: -webkit-sticky;   
}

.mat-tab-group {
  position: sticky;
  position: -webkit-sticky;  
}

.owl-carousel, .owl-carousel .owl-item {
  overflow: hidden !important;
  padding-right: 10px !important;
}

.profile-img {
  width:100px; height:100px;
}

.cursor {
  cursor: pointer;
}

.duration-radio-group {
  display: inline-flex;
  flex-direction: row;
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  mat-toolbar {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .input-interest {              
    width: 100%;
  }
} 

@media only screen and (min-width: 768px) {
  .input-interest {              
    width: 75%;
  }
} 

table {
  width: 100%;
}

.search-input {
  width: 100%;
}

td, th {
  width: 25%;
}