<div class="container">

  <div class="w-100 mt-1 alert alert-dark" role="alert">
    Chat with a Educator
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tell your Question or Problem</label>
    <textarea class="form-control" [(ngModel)]="question" maxlength="250" id="exampleFormControlTextarea1"
      rows="3"></textarea>
    <mat-hint class="float-right" style="font-size: 14px">{{question.length}}/250</mat-hint>

    <mat-radio-group class="row mt-1">
      <mat-radio-button class="col-lg-6 col-md-6 col-sm-12 col-12" value="1">Public Question</mat-radio-button>
      <mat-radio-button class="col-lg-6 col-md-6 col-sm-12 col-12" value="2">Private Question</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="w-100 mt-1">
      <mat-select class="w-100" [(value)]="selected" placeholder="Select educator">
        <mat-option value="option1">Max</mat-option>
        <mat-option value="option2">Sheldon</mat-option>
        <mat-option value="option3">Harvey</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider class="mb-2 mt-2"></mat-divider>

    <div class="w-100 mt-1 alert alert-dark" role="alert">
      Your Question/Answer
    </div>

  </div>

</div>
