<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Settings</h1></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 group">
      <h2>Themes</h2>
      <div class="icon-form-field">
        <mat-icon color="accent">color_lens</mat-icon>
        <mat-form-field>
          <mat-select placeholder="Color theme"
                      [ngModel]="settings?.theme"
                      (selectionChange)="onThemeSelect($event)">
            <mat-option *ngFor="let t of themes" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="icon-form-field">
        <mat-icon color="accent">lightbulb_outline</mat-icon>
        <mat-placeholder>Auto night mode (from 21:00 to 7:00)</mat-placeholder>
        <mat-slide-toggle
          [checked]="settings?.autoNightMode"
          (change)="onAutoNightModeToggle($event)">
        </mat-slide-toggle>
      </div>
    </div>
    <!-- <div class="col-md-6 group">
      <h2>Animations</h2>
      <div class="icon-form-field">
        <mat-icon color="accent">panorama</mat-icon>
        <mat-placeholder>Navigation whole page transition</mat-placeholder>
        <mat-slide-toggle
          matTooltip="Sorry, this feature is disabled in IE and EDGE"
          matTooltipPosition="before"
          *ngIf="settings?.pageAnimationsDisabled"
          disabled>
        </mat-slide-toggle>
        <mat-slide-toggle
          *ngIf="!settings?.pageAnimationsDisabled"
          [checked]="settings?.pageAnimations"
          (change)="onPageAnimationsToggle($event)">
        </mat-slide-toggle>
      </div>
      <div class="icon-form-field">
        <mat-icon color="accent">dashboard</mat-icon>
        <mat-placeholder>Navigation page elements slide up</mat-placeholder>
        <mat-slide-toggle
          [checked]="settings?.elementsAnimations"
          (change)="onElementsAnimationsToggle($event)">
        </mat-slide-toggle>
      </div>
    </div> -->
  </div>
</div>
