<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../../assets/login-person.png" alt="IMG">
      </div>

      <form class="login100-form p-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <span class="login100-form-title">
          Login
        </span>

        <div class="wrap-input100">
          <mat-form-field class="w-100">
            <input matInput formControlName="username" type="text" placeholder="Username *">
            <i matSuffix class="fa fa-envelope" aria-hidden="true"></i>
            <mat-error *ngIf="loginForm.controls.username.hasError('required')">Username is required!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="wrap-input100">
          <mat-form-field class="w-100">
            <input matInput formControlName="password" type="password" placeholder="Password *">
            <i matSuffix class="fa fa-lock" aria-hidden="true"></i>
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row mx-auto mt-2">
          <button class="w-100" mat-raised-button color="accent"
            [disabled]="loginForm.invalid  || loading">
          <span *ngIf="!loading">Sign In</span>
          <img *ngIf="loading" src="../../../assets/loader.gif">
        </button>
        </div>

        <div class="text-center mt-3">
          <mat-label class="txt2">Don't have an account?</mat-label>
          <br>
          <a class="txt2" style="cursor:pointer;" routerLink="/sign-up">Create an account</a>
        </div>

        <div class="text-center mt-3">
          <a class="txt2" style="cursor:pointer;" routerLink="/forget-password">Forgot password?</a>
        </div>

      </form>
    </div>
  </div>
</div>