@import '~@angular/material/theming';

@mixin app-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  a {
    color: mat-color($foreground, text);

    &:hover {
      color: mat-color($accent);
    }
  }

  code {
    color: mat-color($accent, lighter-contrast);
    background-color: mat-color($accent, lighter);
  }

  .mat-tab-label-active {
    color: mat-color($accent) !important;
    
  }
  .mat-tab-label {
    font-weight: 600 !important;
  }
  .mat-ink-bar{
    background-color: mat-color($primary)  !important;
  }

  .img-fluid {
    width: 100% !important;
    height: auto !important;
}

  /*hack to get rid of a scrollbar*/
  // .cdk-focus-trap-content{
  //   overflow-x: hidden !important;
  // }

  /*hack to get rid of a padding on the popup*/
  .mat-dialog-container{
    padding: 0px !important;
  }

  // hide the arrow.
  input::-webkit-calendar-picker-indicator{
    display: none !important;
  }

  // hide the prompt.
  input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

}
