* {
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }

  &:active,
  :focus {
    outline: none !important;
  }
  .record-expansion-panel {
    border-bottom: 1px #03a8f483 solid;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
  }
}

label {
  margin: 0;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

html,
body {
  height: 100%;
  font-family: Roboto, Helvetica Neue,Arial,sans-serif;
  line-height: 1.4!important;
  letter-spacing: -.1px!important;
  min-width: 320px;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

/*.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important; 
}*/
