// @import '~@angular/material/theming';

// @mixin app-forget-password-component-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);

//   app-user-account-forget-password {
//     .background {
//       color: mat-color($foreground, text);
//       background-color: mat-color($background, background);

//       .gradient {
//         &::before {
//           background: linear-gradient(
//             to bottom,
//             mat-color($background, background, 0) 0%,
//             mat-color($background, background, 1) 100%
//           );
//         }
//       }
//     }
//   }
// }

mat-card {
    min-width: 320px;
    min-height: 300px;
    max-width: 320px;
    max-height: 300px;
    
    margin: 0 15px 0 15px;
    mat-card-title {
      position: relative;
    }
    .size{
      margin: 0 15px 0 15px;
    }
  
}
.flex-container {
    padding-top: 50px;
    padding-bottom:50px;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    
  }

  .inventory-body {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background: url("/assets/intro.jpg") no-repeat center top;
    background-size: 50%;
    background-position: center;
    background-size: cover;
    // opacity: 0.7;
    // content: '';
    z-index: 0;
  }
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  }
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
  }
  .symbol-input100 {
    font-size: 15px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #8d8888;

  display: block;
  min-width: 280px;
  max-width: 280px;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 90%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn:hover {
  background: #333333;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


  