<!-- <div class="background">
    <div class="gradient"> -->
      <div class="flex-container inventory-body">
  
            <mat-card >
  
              <mat-card-content>
                  <mat-card-actions>
                      <b> FORGOT PASSWORD</b>
                      <form class=" size mt-4">
                      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                          <input class="input100" type="text" name="email" placeholder="Email">
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </span>
                        </div>
                      </form>
                    <div class="mt-4"> 
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                              RESET PASSWORD
                            </button>
                          </div>
                      </div>
                      <div class="mt-4">
                          <a routerLink="/login">Go back to Login</a>
                        </div>
                    </mat-card-actions>
              </mat-card-content>
            </mat-card>
         
      </div>
      <!-- </div>
    </div> -->